footer {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: space-between; /* 内容两边对齐 */
    align-items: center; /* 垂直居中对齐 */
    padding: 20px; /* 内边距，上下20px，左右270px */
    height: 7px;
    background-color: #1b1b1b; /* 背景颜色 */
    color: white; /* 文字颜色 */
    border-top-left-radius: 15px; /* 左上角圆角 */
    border-top-right-radius: 15px; /* 右上角圆角 */
}

.footer-text {
    font-size: 12px; /* 调整字体大小 */
}

footer p {
    margin: 0; /* 移除默认的外边距 */
}

footer a {
    color: #b6b6b6; /* 链接颜色 */
    text-decoration: none; /* 去掉下划线 */
    margin: 0 5px; /* 链接之间的间距 */
}

.footer-links a {
    font-size: 15px; /* 确保链接的字体大小一致 */
}
